@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #FFFFFF; /* Black background */
  --foreground: #000000; /* White text */
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}